{varType ApiGen\Index\Index $index}
{varType ApiGen\Renderer\Latte\Template\ConfigParameters $config}
{varType ApiGen\Renderer\Latte\Template\LayoutParameters $layout}

{define navbar}
	<nav class="navbar">
		<div class="navbar-left" />
		<div class="navbar-right">
			{include search}
		</div>
	</nav>
{/define}
