{varType ApiGen\Index\Index $index}
{varType ApiGen\Renderer\Latte\Template\ConfigParameters $config}
{varType ApiGen\Renderer\Latte\Template\LayoutParameters $layout}

{define navbar}
	<nav class="navbar">
		<div class="navbar-left">
			<ul class="navbar-links">
				<li>
					<a href="{indexUrl()}">{$config->title}</a>
				</li>
			</ul>
		</div>
		<div class="navbar-right">
			{include search}
		</div>
	</nav>
{/define}
